.advantages {
    padding: 73px 0 65px 0;
    min-height: 475px;
    background: rgb(246, 246, 246);
    &__icons {
        margin-top: 65px;
        width: 955px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 250px;
        color: rgb(13, 13, 13);
        font-size: 18px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        &_animated {
            img {
                animation: heartbeat 3s ease infinite
            }
            
        }
    }
    &__subsub {
        margin-top: 20px;
        color: rgb(13, 13, 13);
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        span {
            color: red;
        }    
    }
    &__subheader {
        margin-top: 30px;
    }
}
