.carousel {
    padding: 81px 0;
    overflow: hidden;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
/*         img {
            width: 90%;
        } */
    }

    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-dots {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        
        margin: 0;
        padding: 1rem 0;
        
        list-style-type: none;
        
            li {
                margin: 0 20px;
            }
        
            button {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                
                border: none;
                border-radius: 100%;
                background-color: rgb(0, 0, 0);
                
                text-indent: -9999px;
            }
        
            li.slick-active button {
                background-color: red;
            }
        
    }
}